body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

:root {
  --max-screen-width: 100rem;
  --dark: #2e4f4e;
  --dark-hover: #183534;
  --blue: #54d0ed;
  --blue-hover: #6bd9f1;
  --green: #2c5e2e;
  --green-hover: #70b85d;
  --light: #fffef1;
  --light-hover: #fffef1;
  --inner-width: 70%;
}
